*{
    max-width: 1600px;
    margin: 0;
    padding: 0;
background: linear-gradient(#1A0B2E,rgba(26,11,46,1));
color:aliceblue;
}
/* nav section */
nav{
    max-height:93px;
    padding:15px 199px 15px 199px;
    border-bottom:1px solid rgba(65,36,103,1);
    background:var (--#1A0B2E.rgba(26,11,45,1));
}
.navber-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.navber-container span{
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.about-text{
    display: flex;
    gap: 30px;
    font-size: 15px;
}
.btn-parent{
    position: relative;
    display: flex;
}
.btn-1{
    font-weight: 500;
    max-width: 134px;
    height: 43px;
    padding: 11px 15px 11px 15px;
    border-radius: 40px;
    transition:all 2s ease-in;
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
}
.btn-1:hover{
    background: rgba(255, 49, 49, 0.735);
    transform: translate(2px);
}
.arrow-icon{
    color: antiquewhite;
    background: none;
    margin-top: 17px;
  right: 4px;
    position: absolute;
   width: 10px;
   height: 10px;
}
.hero-parent{
    display:flex;
    position: relative;
background-size:contain;
    background-image: url("./assets/hero-bg.png");
    height: 760px;
max-width: 1600px;
}
.img1{
    border-radius: 50%;
    margin-top: 100px;
    width: 270px;
    height: 270px;
  margin-left:496px;
position: absolute;
}
.img2{
    padding: 8px 42px 16px 42px;
  background: none;
    margin-top: 135px;
    margin-left:537px;
    position: absolute;
    width: 100px;
    height: 160px;
}
.new-bt{
    position: absolute;
    margin-top: 100px;
    margin-left: 690px;
    text-align: center;
    align-items: center;
    width: 75px;
    height: 41px;
    color: aliceblue;
    border-radius:30px;
    transition:all 0.3s ease;
}
.new-bt:hover{
    background:rgba(157, 80, 80, 0.884);
    color: rgb(0, 255, 55);
    transform:translateY(-4px);
}
.header-section{
    background-color:none;
    width: 548px;
    height: 170px;
    bottom: 170px;
    left: 365px;
    position: absolute;
    text-align: center;
    align-items: center;
}
.header-title{
    font-size:70px;
    font-weight:800;
}
.header-btn{
    position:relative;
    text-align: center;
   justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.hbtn1{
     transition:all 0.3s ease;
    font-size: 13px;
    font-weight: 500;
    max-width: 270px;
    height: 43px;
    padding: 11px 20px 11px 20px;
    border-radius: 40px;
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
}
.hbtn1:hover{
    background:rgba(214, 122, 1, 0.911);
    color: rgb(7, 241, 58);
    transform:translateY(-4px);
}
.hbtn1-img{
    background:none;
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    width: 14px;
    height: 14px;
}
.hbtn2-img{
    background:none;
    position: absolute;
    margin-top: 15px;
    margin-left: 13px;
    width: 12px;
    height: 12px;
}
.hbtn2{
     transition:all 0.3s ease;
    padding: 10px 15px 10px 15px;
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    height: 43px;
    padding: 11px 20px 11px 20px;
    border-radius: 40px;
}
.hbtn2:hover{
    background:rgba(79, 78, 2, 0.45);
    color: rgb(7, 241, 58);
    transform:translateY(-4px);
}