*{
    max-width: 1600px;
    margin: 0;
    padding: 0;
color:rgb(255, 255, 255);
}
/* nav section */
nav{
       background: rgba(26, 11, 46, 1);
    max-height:93px;
    padding:15px 199px 15px 199px;
    border-bottom:1px solid rgba(65,36,103,1);
    background:var (--#1A0B2E.rgba(26,11,45,1));
}
.navber-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.navber-container span{
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.about-text{
    display: flex;
    gap: 30px;
    font-size: 15px;
}
.btn-parent{
    position: relative;
    display: flex;
}
.btn-1{
    font-weight: 500;
    max-width: 134px;
    height: 43px;
    padding: 11px 15px 11px 15px;
    border-radius: 40px;
    transition:all 2s ease-in;
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
}
.btn-1:hover{
    background: rgba(255, 49, 49, 0.735);
    transform: translate(2px);
}
.arrow-icon{
    margin-top: 17px;
  right: 4px;
    position: absolute;
   width: 10px;
   height: 10px;
}
.hamburger{
     width: 24px;
     height: 24px;
    display: flex;
    position: relative;
left: 1000px;
bottom:17px
}
.hero-parent{
   background-color: rgba(26, 11, 46, 1);
    position:relative;
background-size:100%;
    background-image: url("./assets/hero-bg.png");
    background-repeat:no-repeat;
    height: 760px;
max-width: 1600px;
}
.img1{
    border-radius: 50%;
    top: 100px;
    max-width: 270px;
    max-height: 270px;
  left:487px;
position: absolute;
}
.img2{
    position: relative;
    padding: 8px 42px 16px 42px;
  background: none;
    top: 135px;
    left:530px;
    position: absolute;
    max-width: 100px;
    max-height: 160px;
}
.new-bt{
    position: absolute;
    top: 100px;
    left: 690px;
    text-align: center;
    align-items: center;
    width: 75px;
    height: 41px;
    color: rgb(244, 244, 244);
    background-color: rgb(0, 255, 47);
    border-radius:30px;
    transition:all 0.3s ease;
}
.new-bt:hover{
    background:rgba(200, 28, 28, 0.884);
    color: rgb(0, 255, 55);
    transform:translateY(-4px);
}
.header-section{
    background: none;
    position: absolute;
    max-width: 548px;
    max-height: 170px;
    bottom: 170px;
    left: 365px;
    position: absolute;
    text-align: center;
    align-items: center;
}
.header-title{
    font-size:70px;
    font-weight:800;
}
.header-btn{
    position:relative;
    text-align: center;
   justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.hbtn1{
     transition:all 0.3s ease;
    font-size: 13px;
    font-weight: 500;
    max-width: 270px;
    height: 43px;
    padding: 11px 20px 11px 20px;
    border-radius: 40px;
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
}
.hbtn1:hover{
    background:rgb(247, 1, 1);
    color: rgb(225, 241, 7);
    transform:translateY(-4px);
}
.hbtn1-img{
    background:none;
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    width: 14px;
    height: 14px;
}
.hbtn2-img{
    background:none;
    position: absolute;
    margin-top: 15px;
    margin-left: 13px;
    width: 12px;
    height: 12px;
}
.hbtn2{
    background-color:rgba(61, 34, 87, 0.511);
     transition:all 0.3s ease;
    padding: 10px 15px 10px 15px;
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    height: 43px;
    padding: 11px 20px 11px 20px;
    border-radius: 40px;
}
.hbtn2:hover{
    background:rgba(237, 2, 2, 0.45);
    color: rgb(221, 241, 7);
    transform:translateY(-4px);
}
/* podcast-section */
.podcast-parent{
      background: rgba(26, 11, 46, 1);
    max-width:1600px;
    height: 647px;
    padding:50px 200px 0px 200px;
}
.podcast-section{
   background: rgba(26, 11, 46, 1);
    text-align: center;
    align-items: center;
    max-height: 220px;
}
.podcast-section h1{
    font-size: 50px;
}
.podcast-section>p{
    margin-top: 20px;
    line-height: 20px;
    font-size: 15px;
}
.podcast-lp{
    margin-top: 25px;
}
.border-line{
     margin: 80px 0px;
     border-bottom:1px solid rgba(65,36,103,1);
}
.rating-section{
    justify-content: space-between;
     background: rgba(26, 11, 46, 1);
    display: flex;
}
.rating-section h1{
    font-size: 50px;
    font-weight: 900;
    color: rgba(1, 255, 18, 0.929);
}
.choose-section-parent{
    display: grid;
 background: rgba(26, 11, 46, 1);
    max-width: 1600px;
    max-height:1120px;
    padding:120px 200px 120px 200px;
   
}
.why-choose-title{
    margin-bottom: 20px;
  text-align:center;
    height: 57px;
    font-size:47px;
}
.choose-parent{
    gap: 10px;
    border-radius: 10px;
    max-width: 1200px;
    max-height: 780px;
 display:grid;
  grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,240px)
}
.box-1{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 15px;
    grid-row: 1 / 3;
    padding:40px;
    align-items: center;
}
.box-1 img{
    margin-top: 50px;
    height: 60px;
    width: 60px;
}
.box-1 h2{
    margin-top: 30px;
    font-size:20px;
}
.box-1 p{
    margin-top: 10px;
    font-size: 14px;
}
.box-2{
        background-color: rgba(53, 17, 101, 0.4);
    border-radius: 15px;
    padding:40px;
    grid-column: 2 / 4;
}
.box-2 h2{
    font-size: 20px;
    margin-top: 17px;
}
.box-4{
background-color: rgba(53, 17, 101, 0.4);
    border-radius: 15px;
    padding:40px;
    grid-column: 1 / 3;
}
.box-4 h2{
    font-size: 20px;
    margin-top: 10px;
}
.box-4 p{
    font-size: 12px;
}
.box-5{
background-color: rgba(53, 17, 101, 0.4);
border-radius: 15px;
 padding:40px;
}
.box-5 h2{
    font-size:20px;
    margin-top:10px;
}
.box-5 p{
    font-size:15px;
}
.video-section{
 max-width: 1600px;
 max-height: 2570px;
 background: rgba(26, 11, 46, 1);
}
.episode-title{
    text-align:center ;
    font-size: 50px;
}
.video-parent{
    gap: 20px;
    margin-left: 30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
max-width: 1200px;
height: 538px;
align-items: center;
}
iframe{
     border-radius: 24px 24px 0px 0px;
     width: 380px;
     height: 214px;
}
.video-part{
background-color: rgba(53, 17, 101, 0.4);
    margin-top: 20px;
     width: 380px;
     height: 346px;
     border-radius: 20px;
}
.video-part h2{
    margin-top: 15px;
font-size: 24px;
}
.video-part p{
    margin-bottom: 10px;
    font-size: 12px;
}
.min{
margin-left: 25px;
margin-top: -18px;
}
.host-title{
    margin-bottom:10px;
    text-align: center;
    font-size: 50px;
}
.host-parent{
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    height: 280px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.host-text{
    margin-left: 30px;
   width: 896px;
   height: 183px;
}
.host-text h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.host-text p{
    font-size: 13px;
}
.host-img{
    gap: 20px;
    margin-top: 20px;
}
.host-img img{
    margin-left: 10px;
}
footer{
    display: grid;
    max-width: 1600px;
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 412px;
}
footer h1{
    font-size:60px;
position: relative;  
  text-align: center;
 top: 110px;
}
span{
    background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.fooet-icon{
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
small{
    text-align: center;
}
@media screen and (max-width:576px) {
 
   nav{
    /* font-size:20px; */
    justify-content: space-between;
    display: flex;
    padding:15px 20px 15px 20px;
    max-width: 440px;
    max-height: 60px;
    position: relative;
}
.btn-1{
    display: none;
}
.hamburger img{
    width: 35px;
  height:auto;
}
.hamburger{
    display:contents;
}
.hero-parent{
   background-position:center;
    position: relative;
    position:relative;
background-size:100%;
    background-image: url("./assets/hero-bg.png");
    background-repeat:no-repeat;
    height: 385px;
width: 415px;
}
.header-section{
    background: none;
    position:relative;
    width: 440px;
    height: 385px;
    top: 120px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    align-items: center;
}
.header-title{
    font-size: 40px;
}
.header-section p{
    margin-top: 10px;
     width: 400px;
     height: 38px;
    text-align: center;
    font-size:13px;
}
.img1{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    top: 80px;
    left:107px;
position:relative;
}
.img2{
    transition:all 2s ease;
    max-width: 80px;
    max-height: 80px;
    top: 125px;
    left:137px;
}
.img2:hover {
    transform:translateY(-4px);
}
.podcast-parent{ 
    padding:150px 0px 0px 0px;
    text-align: center;
    align-items: center;
}
.podcast-section{
padding: 5px;
    width: 400px;
    height: 207px;
}
.podcast-section h1{
    font-size: 30px;
}
.podcast-section p{
    font-size: 13px;
}
.border-line{
    text-align: center;
    align-items: center;
    width: 400px;
     margin: 40px 5px;
     border-bottom:1px solid rgba(65,36,103,1);
}
.rating-section{
     background: rgba(26, 11, 46, 1);
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
    .about-text{
    display:none;
}
.choose-section-parent{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16;
padding: 40px 20px 40px 20px;
    margin: 0px;
 background: rgba(26, 11, 46, 1);
     width: 440px;
     height: 1450px;
}
.why-choose-title{
    width: 400px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
  text-align:start;
    font-size:30px;
}
.choose-parent{
    margin-right: 60px;
width: 400px;
height: 287px;
 display: flex;
flex-direction: column;
gap: 16;
padding: 24px;
}
.box-1 p{
    font-size: 15px;
}
.box-2 p{
    font-size: 15px;
}
.box-4 p{
    font-size: 15px;
}
.box-5 p{
    font-size: 15px;
}
.video-section{
    display: flex;
flex-direction: column;
gap: 24;
width: 440px;
height: 2570px;
}
.video-baba{
    display: flex;
flex-direction: column;
gap: 24;
width: 440px;
height: 1251px;
}
.video-parent{
    gap: 20px;
  display: flex;
flex-direction: column;
width:440px;
height:400px;
margin-right:-50px;
}
iframe{
     border-radius: 24px 24px 0px 0px;
     width: 400px;
     height: 214px;
}
.video-part{
background-color: rgba(53, 17, 101, 0.4);
    margin-top: 20px;
     width: 400px;
     height:400px;
     border-radius: 20px;
}

}

.btn-parent{
    /* display: none; */
}
@media screen and (min-width:577px) and (max-width:992px) {
    .hamburger{
        /* display:none; */
    }
    
}
@media screen and (min-width:993px) and (max-width:1600px) {
    .hamburger{
        display:none;
    }

}