*{
    max-width: 1600px;
    margin: 0;
    padding: 0;
background: linear-gradient(#1A0B2E,rgba(26,11,46,1));
color:aliceblue;
}
/* nav section */
nav{
    max-height:93px;
    padding:15px 199px 15px 199px;
    border-bottom:1px solid rgba(65,36,103,1);
    background:var (--#1A0B2E.rgba(26,11,45,1));
}
.navber-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.navber-container span{
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.about-text{
    display: flex;
    gap: 30px;
    font-size: 15px;
}
.btn-parent{
    position: relative;
    display: flex;
}
.btn-1{

    font-weight: 500;
    max-width: 134px;
    height: 43px;
    padding: 11px 15px 11px 15px;
    border-radius: 40px;
background:linear-gradient(90deg,rgb(232, 214, 17),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgb(155, 149, 149));
}
.arrow-icon{
    color: antiquewhite;
    background: none;
    margin-top: 17px;
  right: 4px;
    position: absolute;
   width: 10px;
   height: 10px;
}
.hero-parent{
    display:flex;
    position: relative;
background-size:contain;
    background-image: url("./assets/hero-bg.png");
    height: 760px;
max-width: 1600px;
}
.img1{
    border-radius: 50%;
    margin-top: 100px;
    width: 270px;
    height: 270px;
  margin-left:496px;
position: absolute;
}
.img2{
    padding: 8px 42px 16px 42px;
  background: none;
    margin-top: 135px;
    margin-left:537px;
    position: absolute;
    width: 100px;
    height: 160px;
}